<h1>Available decks</h1>

<ul>
<% decks.each do |deck| %>
  <li>
    <a href="<%= decks_static_path %>/<%= deck.slug %>/index.html" title="<%= deck.name %>"><%= deck.name %></a>
  </li>
<% end %>
</ul>
