*
  font-family: 'Open Sans', sans-serif

body
  background-color: #aaa
  margin: 0

h1
  font-size: 3em

footer
  position: relative
  top: -30px
  left: 10px

#slides, .slide, header, footer
  margin: 0 auto
  width: 1024px

#slides, .slide
  height: 768px

#slides
  background-color: #fff
  position: relative
  .slide
    display: none
    padding: 0 20px
    position: absolute
    text-align: center
    top: 0

//----------------------------------------------------------------------------//

.hidden
  display: none
