*
  font-family: 'Open Sans', sans-serif

body
  background-color: #aaa
  margin: 0

h1
  font-size: 3em

#slides, .slide
  height: 768px
  width: 1024px

#slides
  background-color: #eee
  margin: 0 auto
  position: relative
  .slide
    display: none
    padding: 0 20px
    position: absolute
    text-align: center
    top: 0

//----------------------------------------------------------------------------//

.hidden
  display: none
