<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"
    <meta name="author" content="<%= author %>" />
    <meta name="description" content="<%= description %>" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/application.css" />
    <script src="/assets/application.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
    </header>

    <section id="slides">
      <%= yield %>
    </section>

    <footer>
    </footer>
  </body>
</html>

